
@{
    ViewData["Title"] = "AboutUs";
}

<html>
<head>
</head>
<body>

    <section>
        <iframe id="github-iframe" src=""></iframe>
    </section>
    
    <script>
        fetch('https://api.github.com/repos/Gabriel-0216/Gabriel-0216/contents/README.md')
            .then(function (response) {
                return response.json();
            }).then(function (data) {
                var iframe = document.getElementById('github-iframe');
                iframe.src = 'data:text/html;base64,' + encodeURIComponent(data['content']);
            });
    </script>
    <br />
    <hr />

</body>

</html>
